@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	font-weight: normal
	color: $text
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green
a
	color: $accent
	font-weight: 600
	text-decoration: underline
	transition: all .2s ease
	&:hover
		text-decoration: none
		color: $accent
img
	display: block
	max-width: 100%
	height: auto
b, strong
	font-weight: 600

ul,ol,li
	list-style-type: none
	margin: 0
	padding: 0

li
	margin-bottom: 1rem
ol
	span
		font-weight: bold
ul
	li
		position: relative
		padding-left: 50px
		&:after
			content: ''
			display: block
			width: 30px
			height: 2px
			background-color: $accent
			position: absolute
			top: 12px
			left: 0	

.visually-hidden
	position: absolute
	width: 1px
	height: 1px
	margin: -1px
	clip: rect(0 0 0 0)

section
	padding: 3.2vmax 0
	position: relative
	h2
		text-transform: uppercase
		font-size: 25px
		position: relative
		font-weight: bold
		line-height: 1.2
		margin-bottom: 40px
		position: relative
		padding-left: 83px
		&:after
			content: ''
			display: block
			width: 55px
			height: 2px
			background-color: $accent
			position: absolute
			top: 15px
			left: 0
.acc-c
	color: $accent
.sect__row
	display: flex
	align-items: center
	justify-content: space-between
	&--text
		width: 70%
.gray-bg
	background-color: $gray
.header
	background-size: cover
	background-position: center	right
	&__wrap
		height: 35.5vmax
		width: 100%
		display: flex
		align-items: center
	&__title
		font-weight: bold
		font-size: 77px
		text-transform: uppercase
		color: #fff
		line-height: 1.1
		span
			&:last-child
				font-size: 31px
				display: block
				font-weight: 600
.first
	padding: 5vmax 0
	img
		width: 43%
		margin-left: -5vw
	&__text
		p
			padding-left: 83px
.procedure
	ol
		padding-left: 83px
.w25
	width: 25%
.cabinets__row .w70
	max-width: 290px !important
	height: auto !important
	width: 100%

.sect__row--norev
	margin-top: 40px
.acc-title
	border: 1px solid $accent
	padding: 10px 20px
	min-width: 305px
	width: auto
	text-align: center
	margin-right: 55px
	span
		font-weight: 600

.cabinets
	padding-bottom: 0
	h3
		text-align: center
		margin: 40px 0 0
	&__row
		display: flex
		justify-content: space-evenly
		margin-bottom: 65px
		margin-top: 35px
		&--sb
			justify-content: space-around
		&--jcc
			justify-content: center
			flex-wrap: wrap
			margin-bottom: 0
			&_img
				width: 47%
				margin-bottom: 4%
				img
					height: auto !important
				&:nth-child(odd)
					margin-right: 3%
					img
						margin-left: auto
				&:nth-child(even)
					margin-left: 3%
					img
						margin-right: auto
				&:last-child
					margin-right: 0
					margin-left: 0
		img
			box-shadow: 0 22px 125px rgba(#000, .2)
			height: 100%
	ol span
		color: $accent



.mt-25
	margin-top: 35px
	display: block
	margin-bottom: 20px

.card
	&__img
		box-shadow: 0 22px 125px rgba(0,0,0,.2)
		margin: 0 auto
		margin: 3vmax auto

.total
	img
		box-shadow: 0 22px 125px rgba(0,0,0,.2)
		margin: 40px 0 55px	



.all-cases 
	display: flex
	align-items: center
	justify-content: space-around
	background-image: -moz-linear-gradient( 0deg, rgb( 230, 92, 0 ) 0%, rgb( 249, 212, 35 ) 100%)
	background-image: -webkit-linear-gradient( 0deg, rgb( 230, 92, 0 ) 0%, rgb( 249, 212, 35 ) 100%)
	box-shadow: 0px 0px 73px 26px rgba( 0, 0, 0,.2 )
	position: fixed
	font-size: 14px
	color: #fff
	text-decoration: none
	bottom: 20px
	right: -300px
	width: 228px
	height: 52px
	z-index: 100
	transition: all .5s ease-in-out
	&:hover
		color: #fff
		text-decoration: none
	&.active
		right: 20px



@import "media" // Always at the end
